.channelPage {
    display: flex;
    flex-direction: column-reverse;
    align-content: end;
    justify-content: end;
    margin-top: 1vh;
    padding: 5px;
    height: 88%;
}


.chatBox {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: end;
    padding-top: 1vh;
    min-height: 50vh;
}

.chatForm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    padding: 3px;
    background-color: rgb(230, 230, 230);
    border-radius: 6px;
}

.chatForm form {
    display: flex;
    width: 100%;
    padding: 1px;
    justify-content: center;
}

.chatForm input {
    width: 100%;
    padding: 2px;
}

.chatMessages {
    padding: 3px;
}

.messageArea {
    overflow: auto;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    
}


.messageArea::-webkit-scrollbar {
    display: none;
}