.navbarFront {
    display: flex;
    justify-content: space-between;
    margin: 0;
    height: 10vh;
}

.link {
    padding: 3px;
}

.link:hover {
    cursor: pointer;
}

li {
    padding: 3px;
    margin: 3px;
    list-style: none;
}

.link {
    color: white;
    font-weight: bold;
    
}

.button2 {
    font-size: 2.2vh;
    width: 6vw;
    height: 4.5vh;
    border-radius: 15px;
    justify-self: center;
    align-self: center;
    padding-bottom: 5px;
    margin-bottom: 5px;
    background-color: white;
    color: black;
}

.navbarFrontLeft {
    color:rgba(30,30,30);
    display: flex;
    font-weight: bold;
    padding: 5px;
    font-size: 30px;
}

.navbarFrontRight {
    display: flex;
    padding-top:3vh;
    justify-content: center;
    align-content: center;
    margin-right: 2vw;
}

.navFrontTitle {
    margin: 0px;
    width: 50%;
    color: white;
}

.navFrontLogo{
    padding-top: 1vh;
    padding-left: 2vh;
    width: 10vh;
    height: 10vh;
    color: rgb(80, 57, 255);
}

.navFrontLogoLink {
    width: 6vh;
    height: 6vh;
}

.navFrontMiddle {
    display: flex;
    justify-content: space-between;
    padding: 1vh;
}

svg:hover {
    cursor: pointer;
}