.navbarFront {
    display: flex;
    justify-content: space-between;
    margin: 0;
    height: 10vh;
}

.link {
    padding: 3px;
}

.link:hover {
    cursor: pointer;
}

li {
    padding: 3px;
    margin: 3px;
    list-style: none;
}

.link {
    color: white;
    font-weight: bold;
    
}

.button2 {
    width: 70px;
    height: 30px;
    border-radius: 15px;
    justify-self: center;
    align-self: center;
    padding-bottom: 5px;
    margin-bottom: 5px;
    background-color: white;
    color: black;
}

.navbarFrontLeft {
    color:rgba(30,30,30);
    display: flex;
    font-weight: bold;
    padding: 5px;
    font-size: 30px;
    width: 30%;
}

.navbarFrontRight {
    display: flex;
    width: 20%;
    padding-top:1vh;
    justify-content: center;
    align-content: center;
}

.navFrontTitle {
    margin: 0px;
    width: 50%;
    color: white;
}

.navFrontLogo{
    padding-top: 1vh;
    padding-left: 2vh;
    width: 10vh;
    color: rgb(80, 57, 255);
}

.navFrontMiddle {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.navFrontLogo:hover {
    cursor: pointer;
}