.logoutButton {
    display: flex;
    width: 7vw;
    height: 4vh;
    margin-bottom: 1px;
    border-radius: 5px;
    background-color: rgb(80, 57, 255);
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-width: 2px;
    border-style: outset;
    border-color: black;
    font-weight: bold;
    font-size: 2vh;
}

.logoutButton:hover {
    cursor: pointer;
}