
.messageDefault {
    position: relative;
    padding: 3px;
    margin-left: 5px;
    height: 5vh;
}

.messageEdit {
    position: relative;
    padding: 3px;
    margin-left: 5px;
    height: auto;
}

.messageEdit form input {
    padding: 2px;
    margin: 2px;
    width: 80%;
}

.messageBox:hover {
    background-color:  rgb(230, 230, 230);
}

.messageUser {
    font-size: 18px;
    font-weight: bold;
}

.messageTop {
    display: flex;
}

.messageDate {
    font-size: 13px;
    margin-left: 10px;
    text-align: center;
    justify-content: center;
}

.messageTooltip {
    position: absolute;
    background-color: white;
    border-radius: 5px;
    top: -10px;
    left: 90%;
    margin: none;
    padding: 3px;
    height: 25px;
    width: 50px;
    align-content: center;
}

svg:hover {
    cursor: pointer;
}