.communityItem {
    margin: 5px;
    margin-left: 0px;
}

.communityLink {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    border-radius: 50%;
    background: rgb(110, 110, 110);
    width: 7vh;
    height: 7vh;
    border: none;

}