.communityIndexItem {
    display: flex;
    justify-content: space-between;
}

.communityIndexItem:hover {
    background-color:  rgb(230, 230, 230);
}

.leftWrapper {
    display: flex;
    padding: 5px;
    width: 40%;
    margin-left: 1vw;
}

.rightWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8vw;
}

.communityCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7vh;
    height: 7vh;
    background: rgb(110, 110, 110);
    color: white;
    border-radius: 50%;
    font-size: 4vh;

}

.communityTitleItem {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vh;
    margin-left: 5%;
}

.membershipButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    color: white;
    font-size: 3vh;
    border-radius: 50%;
    margin-right: 10%;
    width: 6vw;
    height: 4vh;
}

.membershipButton:hover {
    cursor: pointer;
}