.communityTitle {
   margin: 0px;
   padding: 3px;
   border-bottom: 3px solid darkgray;
   height: 41px;
   color: black;
   display: flex;
}

.titleText {
    color: black;
    margin: 0px;
    margin-right: 20px;
}

.communityContainer {
    display: flex;
    flex-direction: column;
}

.communityChannelList {
    padding: 3px;
    margin: 3px;
}

.communityTextHeader {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.communityInviteHeader {
    margin-top: 10px;
    height: 3vh;
}

.inviteUsernameInput {
    margin-left: 10px;
    display: flex;
    align-self: center;
    justify-self: center;
    width: 80%;
}

.textHeader {
    margin: 5px
}

.communityEditFormDiv {
    position: absolute
}