.communityTitle {
   margin: 0px;
   padding-left: 1vw;
   border-bottom: 3px solid darkgray;
   height: 5vh;
   color: black;
   display: flex;
}

.titleText {
    color: black;
    margin: 0px;
    margin-right: 20px;
    font-size: 3vh;
}

.communityContainer {
    display: flex;
    flex-direction: column;
}

.communityChannelList {
    padding: 3px;
    margin: 3px;
    margin-left: 1vw;
}

.communityTextHeader {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.communityInviteHeader {
    margin-top: 3px;
    height: 3vh;
}

.communityInviteInput {
    margin-top: 5px;
    margin-left: 1vw;
}

.inviteUsernameInput {
    margin-left: 0.3vw;
    display: flex;
    align-self: center;
    justify-self: center;
    width: 80%;
}

.textHeader {
    margin-top: 1px;
    margin-left: 1vw;
    font-size: 3vh;
    margin-bottom: 0px;
}

.communityEditFormDiv {
    position: absolute
}

.gearCommunity {
    margin-top: 3px;
}