.container {
    display: flex;
    height: inherit;
}

.channelArea {
    width: 80%;
    background-color: rgba(248,248,248);
}

.communityShow {
    width: 20%;
    background-color: rgb(230, 230, 230);
}

.list {
    width: auto;
    background-color: rgb(210, 210, 210);
}