.container {
    display: flex;
    background: da
}

.channelArea {
    width: 80%;
}

.communityShow {
    width: 20%;
    background-color: lightgray;
}

.list {
    width: auto;
    background-color: rgba(175,175,175);
    height: 200vh;
}