/* TODO Add site wide styles */

#root {
    background-image: url("./assets/DiscordBackgroundTweaked.jpg") ;
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin-top: 0;
    padding: 1px;
}

body {
    margin: 0px;
}