.main-container {
    height: 100%;
    width: 100%;
}

.contentArea {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    height: 50%;
    width: 33%;
    margin-left: 15vh;
}

.largeText {
    color: black;
    font-size: 60px;
    font-weight: bold;
    width: 50%;
    margin: 10px;
}

.paragraph {
    color: black;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    width: 70%; 
}