.userProfile {
    padding-top: 3vh;
    padding-left: 1vw;
    padding-right: 3vw;
    display: flex;
    align-content: center;
}

.userUsername {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 3px;
    padding: 3px; 
    font-size: 3vh;
    font-weight: bold;
}

.userCircle {
    height: 7vh;
    width: 7vh;
}