.loginForm {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    width: 50vh;
    height: 50vh;
    margin-left: 40%;
    margin-top: 10vh;
    padding: 15px;
    background-color: rgb(85, 85, 85);
    border-radius: 5px;

}


.loginButton {
    width: 80%;
    height: 5vh;
    border-radius: 4px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    background-color: rgb(80, 57, 255);
    color: white;
    justify-self: center;
    align-self: center;
}

.loginFormTitle {
    align-self: center;
    color: rgb(230, 230, 230);
    font-size: 40px;
}

label {
    color: rgb(200, 200, 200);
    padding: 3px;
    margin: 3px;
    justify-self: center;
    font-weight: bold;
}

.loginInput {
    padding: 5px;
    margin: 5px;
    width: 90%;
}

.backgroundLogin {
    width: 100%;
    height: 100%;
    background-image: url("../../assets/LoginBackground.png");
    background-size: cover;
}