.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(248, 248, 248);
    margin: 0;
    height: 47px;
    border-bottom: 3px solid darkgray;
}

li {
    padding: 3px;
    margin: 3px;
    list-style: none;
}

.link {
    color: white;
    font-weight: bold;
    
}

.navbar .logo {
    height: 50px;
    width: 50px;
    color: white;
}

.buttonApp {
    width: 70px;
    height: 30px;
    border-radius: 4px;
    justify-self: center;
    align-self: center;
    padding-bottom: 5px;
    margin-bottom: 5px;
    background-color: rgb(91, 179, 247);
    color: white;
}

.navbarLeft {
    color:rgba(30,30,30);
    align-self: left;
    justify-self: left;
    font-weight: bold;
    padding: 10px;
    font-size: 30px;
}

.navbarRight {
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-content: center;
    margin-right: 3px;
}

.navLogo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#discoverLink {
    display: flex;
    align-items: end;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

a {
    color: black;
}