.navbar {
    display: flex;
    justify-content: space-between;
    background-color: purple;
    margin: 0;
    height: 50px;
   
}

li {
    padding: 3px;
    margin: 3px;
    list-style: none;
}

.link {
    color: white;
    font-weight: bold;
    
}

.navbar .logo {
    height: 50px;
    width: 50px;
    color: white;
}

.button2 {
    width: 70px;
    height: 30px;
    border-radius: 4px;
    justify-self: center;
    align-self: center;
    padding-bottom: 5px;
    margin-bottom: 5px;
    background-color: rgb(91, 179, 247);
    color: white;
}

.navbarLeft {
    color:white;
    align-self: left;
    justify-self: left;
    font-weight: bold;
    padding: 10px;
    font-size: 30px;
}

.navbarRight {
    display: flex;
    width: 125px;
    justify-content: center;
    align-content: center;
}