.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(248, 248, 248);
    margin: 0;
    height: 5vh;
    border-bottom: 3px solid darkgray;
}

li {
    padding: 3px;
    margin: 3px;
    list-style: none;
}

.link {
    color: white;
    font-weight: bold;
    
}

.navbar .logo {
    height: 50px;
    width: 50px;
    color: white;
}

.buttonApp {
    width: 70px;
    height: 30px;
    border-radius: 4px;
    justify-self: center;
    align-self: center;
    padding-bottom: 5px;
    margin-bottom: 5px;
    background-color: rgb(91, 179, 247);
    color: white;
}

.navbarLeft {
    display: flex;
    color:rgba(30,30,30);
    font-weight: bold;
    font-size: 3vh;
    margin-left: 5px;
}

.navHashWrapper {
    padding-top: 1vh;
}

.navChannelTitle {
    margin-left: 1vw;
    padding-top: 1.5vh;
}

.navbarRight {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-content: center;
    margin-right: 1.5vw;
}

.navLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3px;
}

#discoverLink {
    display: flex;
    width: 7vw;
    height: 4vh;
    margin-bottom: 1px;
    border-radius: 5px;
    background-color: rgb(80, 57, 255);
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-width: 2px;
    border-style: outset;
    border-color: black;
    font-weight: bold;
    font-size: 2vh;
}

#discoverLink:hover{
    cursor: pointer;
}

.discoverButtonWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3px;
}

.iconNav {
    height: 4vh;
    width: 4vh;
}