.communityList {
    padding-left: 25px;
}

.newCommunityButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    border-radius: 50%;
    font-size: 40px;
    color: white;
    font-weight: bold;
    width: 7vh;
    height: 7vh;
    border: none;
    padding: 0px;
}

.newCommunityButton:hover {
    cursor: pointer;
}