.communityList {
    align-content: center;
    justify-content: center;
    padding-left: 20px;
}

.newCommunityButton {
    background-color: rgb(210, 210, 210);
    border: 0px;
    margin: -5px;
}